footer
  .container.text-center
    p.pull-left © 2015 Ashley Theiss & Israa Njjar. MIT License.
    ul.pull-right.list-inline
      li
        a(href='https://github.com/beforeyouknowit/bitcoin-api-talk') GitHub Repo
      li
        a(href='https://github.com/beforeyouknowit/bitcoin-api-talk/issues') Report Issues