extends layout

block content
  h1 Decentral Bitcoin API Talk
  p.lead by Ashley Theiss & Israa Njjar, June 2015.
  hr
  .row
    .col-sm-6
      h2 Welcome!
      p Welcome to Decentral Vancouver.
    .col-sm-6
      h2 Who are these peeps?
      p
        | Info about Israa.
      p
        | Info about Ashley.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 What you'll learn:
      p Learning outline.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Takeaways:
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='#', role='button') View details »