extends layout

block content
  h1 Decentral Bitcoin API Talk
  p.lead by Ashley Theiss & Israa Njjar, June 2015.
  hr
  .row
    .col-sm-6
      h2 Welcome!
      p Welcome to Decentral Vancouver.
    .col-sm-6
      h2 Who are these peeps?
      p
        | Info about Israa.
      p
        | Info about Ashley.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 What you'll learn:
      p
        | Learning outline.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Takeaways:
      ul
        li How to find an API to talk to
        li How to connect to an API
        li How to sample data from an API (raw JSON)
        li How to visualize live API data